@import "../../utilities/variables";

.no-result {
    display: grid;
    grid-template-areas: 
    ". . . ."
    ". content content ."
    ". . . .";

    & .no-result__content {
        grid-area: content;

        & h1 {
            color: $green;
            text-align: center;
            font-size: 2rem;

            & a {
                color: #66AAB5;
            }
        }
    }
}
