@import "../../utilities/variables";

.content {
    min-width: 855px;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas: 
    "header header  header  header"
    "main   main    main    main"
    "footer footer footer footer";
    grid-template-rows: 90px auto min-content;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    background-color: $grey;
    display: grid;
}

footer {
    grid-area: footer;
    background-color: $grey;
}
