@import "../../mixins/Mixins.scss";

.favorite-dropdown {
    position: relative;
    display: inline-block;

    &:hover .favorite-dropdown__list  {
        display: block;
    }

    & .a11y-btn {
        @include a11y-btn;
        
        & img {
            width: 60px;
            height: auto;
        }
    } 
    
    &__list {
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        right: 0;
        background-color: #f1f1f1;
        min-width: 13rem;
        box-shadow: 0px 0.5rem 1rem 0px rgba(0,0,0,0.2);

        & .dropdown-item {
            display: flex;
            padding: 0.75rem 1rem;

            & img {
                width: 2rem;
                height: auto;
                margin-right: 1rem;
            }

            & a {
                color: black;
                text-decoration: none;
                font-size: 1.5rem;
            }

        }
    }

    & .show {
        display:block;
    }
}
