.details {
    background: #203943 0% 0% no-repeat padding-box;
    width: 100%;
    height: 100%;
    border: 1px solid #203943;
    border-radius: 15px;
    box-shadow: 5px 5px 6px #b6b5b5;
    display: grid;
    grid-template-areas: 
    "location weather weather weather date"
    "min      weather weather weather max"
    ". wind temp humidity .";
    grid-template-columns: repeat(5, 1fr);

    & .details__location {
        grid-area: location;
    }

    & .details__weather {
        grid-area: weather;
    }

    & .details__date {
        grid-area: date;
    }

    & .details__min {
        grid-area: min;
    }

    & .details__max {
        grid-area: max;
    }

    & .details__wind {
        grid-area: wind;
    }

    & .details__temp {
        grid-area: temp;
    }

    & .details__humidity {
        grid-area: humidity;
    }
}
