@import "../../utilities/variables";

.details {
    font-size: 2rem;
    background: $green 0% 0% no-repeat padding-box;
    width: 100%;
    height: 100%;
    border: 1px solid $green;
    border-radius: 15px;
    box-shadow: 5px 5px 6px $boxShadow;
    display: grid;
    grid-template-areas: 
    "location weather weather weather date"
    "min      weather weather weather max"
    "wind . temp . humidity";
    text-align: center;

    & .details__location {
        grid-area: location;
        padding: 0.5rem;
    }

    & .details__weather {
        grid-area: weather;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 350px;
            height: auto;
        }
    }

    & .details__date {
        grid-area: date;
        padding: 0.5rem;
    }

    & .details__min {
        grid-area: min;
    }

    & .details__max {
        grid-area: max;
    }

    & .details__wind {
        grid-area: wind;
        display: flex;
        flex-direction: column;
        align-items: center;

        .compass-icon {
            width: 4rem;
            height: auto;

            $rotation: 22.5deg;

            &--NNE {
                transform: rotate($rotation);
            }

            &--NE {
                transform: rotate($rotation * 2);
            }

            &--ENE {
                transform: rotate($rotation * 3);
            }

            &--E {
                transform: rotate($rotation * 4);
            }

            &--ESE {
                transform: rotate($rotation * 5);
            }

            &--SE {
                transform: rotate($rotation * 6);
            }

            &--SSE {
                transform: rotate($rotation * 7);
            }

            &--S {
                transform: rotate($rotation * 8);
            }

            &--SSW {
                transform: rotate($rotation * 9);
            }

            &--SW {
                transform: rotate($rotation * 10);
            }

            &--WSW {
                transform: rotate($rotation * 11);
            }

            &--W {
                transform: rotate($rotation * 12);
            }

            &--WNW {
                transform: rotate($rotation * 13);
            }

            &--NW {
                transform: rotate($rotation * 14);
            }

            &--NNW {
                transform: rotate($rotation * 15);
            }
        }
    }

    & .details__temp {
        grid-area: temp;
    }

    & .details__humidity {
        grid-area: humidity;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 4rem;
            height: auto;
        }
    }
}
