.details {
    font-size: 2rem;
    background: #203943 0% 0% no-repeat padding-box;
    width: 100%;
    height: 100%;
    border: 1px solid #203943;
    border-radius: 15px;
    box-shadow: 5px 5px 6px #b6b5b5;
    display: grid;
    grid-template-areas: 
    "location weather weather weather date"
    "min      weather weather weather max"
    "wind . temp . humidity";

    & .details__location {
        grid-area: location;
        padding: 0.5rem;
    }

    & .details__weather {
        grid-area: weather;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 350px;
            height: auto;
        }
    }

    & .details__date {
        grid-area: date;
        text-align: right;
        padding: 0.5rem;
    }

    & .details__min {
        grid-area: min;
        text-align: right;
    }

    & .details__max {
        grid-area: max;
    }

    & .details__wind {
        grid-area: wind;
        text-align: right;
    }

    & .details__temp {
        grid-area: temp;
        text-align: center;
    }

    & .details__humidity {
        grid-area: humidity;
    }
}
