.search-page {
    display: grid;
    grid-template-areas: 
    ". . close ."
    ". content content ."
    ". . . .";

    & button {
        grid-area: close;
    }

    & .search-page__content {
        grid-area: content;
    }
}
