@import "../../mixins/Mixins.scss";

header {
    background: #203943 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .a11y-btn {
        @include a11y-btn;
    }

    & .hidden {
        visibility: hidden;
    }

    & .header__heading {
        text-decoration: none;

        & h1 {
            font-size: 2.5rem;
            line-height: 45px;
            margin: 0;
            text-align: center;
            color: #FFFFFF;
        }
    }
}
