@import "../../utilities/variables";

.search {
    display: flex;
    justify-content: center;

    & .search__input {
        height: 4rem;
        background-color: $green;
        color: #ffffff;
        font-size: 2rem;
        border: 1px solid $green;
        border-radius: 15px;
        box-shadow: 5px 5px 6px $boxShadow;
        padding: 0.5rem;
        float: left;
    }

    & .search-icon {
        width: 60px;
        height: auto;
    }

    & button {
        display: inline-block;
    }
}
