.search {
    display: flex;
    justify-content: center;

    & .search__input {
        height: 4rem;
        background-color: #203943;
        color: #ffffff;
        font-size: 2rem;
        line-height: 3.5rem;
        border: 1px solid #203943;
        border-radius: 15px;
        box-shadow: 5px 5px 6px #b6b5b5;
        padding: 0.5rem;
        float: left;

        &:focus {
            outline: none;
        }
    }

    & .search-icon {
        width: 60px;
        height: auto;
    }

    & button {
        display: inline-block;
    }
}
