.result-page {
    display: grid;
    grid-template-areas: 
    ". details details add"
    ". details details ."
    "preview preview preview preview";

    & .result-page__details {
        grid-area: details;
    }

    & .result-page__add {
        grid-area: add;

        & img {
            width: 60px;
            height: auto;
        }
    }

    & .result-page__preview {
        grid-area: preview;
    }
}
