@import "../../mixins/Mixins.scss";

.result-page {
    padding: 1rem;
    display: grid;
    grid-template-areas: 
    ". details details details details add"
    ". details details details details ."
    ". preview-1 preview-2 preview-3 preview-4 .";
    grid-gap: 1rem;

    & .result-page__details {
        grid-area: details;
    }

    & .result-page__add {
        grid-area: add;
        padding-left: 1rem;

        & .a11y-btn {
            @include a11y-btn;
        }

        & img {
            width: 60px;
            height: auto;
        }
    }

    & .result-page__preview--1 {
        grid-area: preview-1;
    }

    & .result-page__preview--2 {
        grid-area: preview-2;
    }

    & .result-page__preview--3 {
        grid-area: preview-3;
    }

    & .result-page__preview--4 {
        grid-area: preview-4;
    }
}
